<div class="container">
  <h1><%= @flat['name'] %></h1>
</div>
<div class="container">
  <%= link_to 'Flats', root_path, class: 'btn btn-light'  %>
  <%= link_to root_path, class: 'btn btn-light' do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
